
body {
    height: 100%;
}

.tamanho-imagem{
    max-height: 4rem;
}

.centralizar {
    justify-content: center;
}

.fundo-gradiente {
    background-image: radial-gradient(#c5dee59c, #9dc6d340, #ffffff00);
}
